apiVersion: apps/v1
kind: Deployment
metadata:
  name: onboarding-app
spec:
  template:
    spec:
      containers:
        - name: onboarding
          resources:
            requests:
              memory: "1Gi"
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
